<div class="row">
  <h2 class="col-xs-12">
    {{ contact && contact?.name }}
  </h2>
</div>
<div>
  <div class="row">
    <div class="pull-left">
      <img src="{{ contact && contact?.imageUrl }}" />
    </div>
    <div class="pull-right">
      <button class="btn btn-primary" (click)="editContact($event)">
        Edit
      </button>
      <button class="btn btn-danger" (click)="deleteContact($event)">
        Delete
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div>Email: {{ contact && contact?.email }}</div>
    <div>Phone: {{ contact && contact?.phone }}</div>
  </div>
</div>
