.header {
  display: flex;

  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(239, 233, 233, 0.5);
}

ul {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
}

ul li {
  all: unset;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  font-size: 80%;
}

ul li:first-child {
  font-weight: bold;
}

ul li:hover {
  filter: invert(0.5);
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
  min-width: 80px;
}
button:hover {
  background-color: aliceblue;
}

/*  600 Break point */
@media (min-width: 600px) {
  ul li {
    min-width: 80px;
    padding: 15px;
    font-size: 100%;
  }
  ul li:first-child {
    font-size: 120%;
  }
  button {
    min-width: 100px;
  }
}
