/* You can add global styles to this file, and also import other style files */
:root {
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --gray: #e7e7e7;
  --light: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Background */
.bg-gray {
  background-color: var(--gray);
}

/* Spacing */
.p-0 {
  padding: var(--s0);
}

/* Font */
.fs-0 {
  font-size: var(--s0);
}
.fs-1 {
  font-size: var(--s1);
}
.fs-2 {
  font-size: var(--s2);
}
.fs-3 {
  font-size: var(--s3);
}
.fs-4 {
  font-size: var(--s4);
}
.fs-5 {
  font-size: var(--s5);
}

.fw-bold {
  font-weight: bold;
}

/* Border */
.border-1-s-light-all {
  border: 1px solid var(--light);
}

.border-1-s-light-top {
  border-top: 1px solid var(--light);
}
.border-1-s-light-bot {
  border-bottom: 1px solid var(--light);
}

.br-sm {
  border-radius: 5px;
}

.br-md {
  border-radius: 10px;
}

/* Alignment */
.just-con-cen {
  justify-content: center;
}

.align-items-cen {
  align-items: center;
}
